{"filter":false,"title":".browserslistrc","tooltip":"/.browserslistrc","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":13,"column":0},"end":{"row":13,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1575489688856,"hash":"add6c068743c5263860a9961a636b5a63609c460"}